h1 {
    border: 3px rgb(112, 136, 113) solid;
    color: darkolivegreen;
    text-align: center;
    padding: 20px;
    margin-top: .5em;
}

h2 {
    color:rgb(82, 140, 78);
    margin-top: 1em;
}

h3 {
    color:rgb(82, 140, 78)
}

form {
    color: black
}

a {
    color: rgb(60, 112, 12)
}

i {
    color: rgb(234, 90, 24)
}

ul {
    list-style-type: square;
    color: rgb(28, 30, 29)
}

body {
   margin: auto;
   max-width: 45em; 
   background:rgb(254, 240, 222);
   font-family: Monaco, monospace;
}

.recipes {
    border: 3px rgb(112, 136, 113) solid;
    padding: 20px;
}

.loginblock {
    margin-top: .5em;
    border: 3px rgb(112, 136, 113) solid;
    padding: 15px;
}

.search {
    margin-top: .5em;
    border: 3px rgb(112, 136, 113) solid;
    padding: 15px;
}

.loginpage {
    margin-top: 1em;
    border: 3px rgb(112, 136, 113) solid;
    padding: 15px;
}

.newrecipe {
    margin-top: 1em;
    border: 3px rgb(112, 136, 113) solid;
    padding: 15px;
}

.register {
    margin-top: 1em;
    border: 3px rgb(112, 136, 113) solid;
    padding: 15px;
}

.error {
    margin-top: 1em;
    border: 3px rgb(112, 136, 113) solid;
    padding: 15px;
}