<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
<h2>Poista resepti</h2>

<form action="/delete" method="post">

    <p>Minkä reseptin haluat poistaa?</p>
    
    {% for recipe in list %}
    <input type="radio" name="recipe" value="{{ recipe.id }}"> {{ recipe.name }} <br>
    {% endfor %}
    <p>
    <input type="submit" value="Poista">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    
<form action="/deletecom" method="post">
    <p>Minkä kommentin haluat poistaa?</p>
    
    {% for review in list %}
    <input type="radio" name="review" value="{{ review.id }}"> {{ review.name }} <br>
    {% endfor %}
    <p>
    <input type="submit" value="Poista">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    