<title>Reseptisovellus</title>
<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">

<body>
<h1>Reseptisovellus</h1>

<div class="recipes">
<font size ="+1">Reseptit:</font>
<ul>
{% for recipe in recipes %}
<li><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></li>
{% endfor %}
</ul>
<a href="/order">Näytä reseptit arvioiden mukaan</a>
</div>

<div class="loginblock">
{% if session.user_id %}
<p> Olet nyt kirjautunut sisään. </p>
<a href="/new">Julkaise resepti</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
</div>

<div class="search">
<form action="/result" method="GET">
Hae reseptiä: <input type="text" name="query">
<br>
<input type="submit" value="Hae">
</form>
</div>

{% if session.user_role == 2%}
<a href="/delete">Poista resepti</a>
<a href="/deletecom">Poista kommentti</a>
{% else %}
<p>Ei nähtävää</p>
{% endif %}

</body>