<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
<body>
    <div class="block">
<h2>Julkaise uusi resepti </h2>
<p>
<form action="/write" method="post">
    <label for="name">Reseptin nimi:</label>
    <input type="text" name="name">
    </p>

    <label for="name">Kirjoita tähän ainesosat ja ohjeet:</label>
    <br>
    <textarea name="content" rows="10" cols="50"></textarea>
    </p>

    <input type="submit" value="Julkaise">
    </form>
</div>
<a href="/">Takaisin etusivulle</a>
</body>